<!DOCTYPE html>
<html>
<head>
    <title>Pong Game</title>
    {% load static %}
    <style>
        canvas {
            background-color: black;
            display: block;
            margin: 0 auto;
        }
        #scoreboard {
            text-align: center;
            font-size: 24px;
            color: white;
        }
    </style>
</head>
<body>
    <canvas id="pongCanvas" width="800" height="600"></canvas>
    <div id="scoreboard">
        <span id="player1Score">Player 1: 0</span> - <span id="player2Score">Player 2: 0</span>
    </div>
    <script src="{% static 'pong_app/pong.js' %}"></script>
</body>
</html>
